<div class="container">
  <div class="container">
    <div class="row borders">
      <div class="col-sm">
        1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem fuga fugit itaque modi necessitatibus non, praesentium qui quis quos sed tempora tempore tenetur voluptas? Excepturi ipsum minus nulla quos totam?
      </div>
      <div class="col-sm">
        2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto consequuntur eaque esse fugit iusto laborum magni minus molestias nihil nostrum odit possimus quaerat quam, repellat, saepe sunt tempora, unde!
      </div>
      <div class="col-sm">
        3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur cum deleniti dolor eveniet facilis iste itaque iure labore libero magnam non omnis porro possimus, quaerat quam temporibus voluptatibus!
      </div>
    </div>
  </div>
</div>
